<!DOCTYPE html>
<html lang="en">

<head>
    {{>metas}}
    {{>links}}
    <title>Guide</title>
</head>

<body>
    {{>header}}
    <h2 class="guide_title">{{page}}</h2>
    {{>footer}}

    {{>scripts}}
</body>

</html>