<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    {{>metas}}

    <title>Aaramkhor CRM</title>
</head>

<body>
    {{>header}}
    <h2>{{page}}</h2>
    <div class="table-responsive">
        <form></form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Order No.</th>
                    <th scope="col">Order</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Consignment No.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>12345</td>
                    <td>t-shirt</td>
                    <td>Tharun</td>
                    <td>@mdo</td>
                    <td>9962326281</td>
                    <td contenteditable="true"></td>
                </tr>
            </tbody>
        </table>
    </div>
    {{>footer}}

    {{>scripts}}
</body>

</html>