<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    {{>metas}}

    <title>Aaramkhor CRM</title>
</head>

<body>
    {{>header}}
    <h2>{{page}}</h2>
    <div class="table-responsive">
        <table class="table table-hover workspace-table">
            <thead class="--workspace-table-header">
                <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Order No.</th>
                    <th scope="col">Order</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Consignment No.</th>
                </tr>
            </thead>
            <tbody class="--workspace-table-body">

            </tbody>
        </table>
    </div>
    {{>footer}}

    {{>scripts}}
</body>

</html>